<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>60</data>
      <data>102</data>
      <data>110</data>
      <data>110</data>
      <data>96</data>
      <data>98</data>
      <data>60</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>24</data>
      <data>60</data>
      <data>102</data>
      <data>126</data>
      <data>102</data>
      <data>102</data>
      <data>102</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>122</charcode>
    <chardata>
      <data>255</data>
      <data>189</data>
      <data>153</data>
      <data>255</data>
      <data>255</data>
      <data>195</data>
      <data>189</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>123</charcode>
    <chardata>
      <data>60</data>
      <data>126</data>
      <data>255</data>
      <data>219</data>
      <data>255</data>
      <data>126</data>
      <data>36</data>
      <data>36</data>
    </chardata>
  </character>
  <character>
    <charcode>124</charcode>
    <chardata>
      <data>15</data>
      <data>15</data>
      <data>15</data>
      <data>15</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>125</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>248</data>
      <data>248</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>127</charcode>
    <chardata>
      <data>240</data>
      <data>240</data>
      <data>240</data>
      <data>240</data>
      <data>15</data>
      <data>15</data>
      <data>15</data>
      <data>15</data>
    </chardata>
  </character>
</charset>
